.center {
    margin: 5px auto; 
    text-align: center;
}

#drawingArea {
	display: grid;
	padding: 0;
	border: 3px solid rgb(0,0,0);
	height: 500px;
	width: 500px;
}

#buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	width: 500px;
}

button {
	width: 145px;
}